@model Shop.Data.Category

@{
    ViewData["Title"] = "جزئیات دسته بندی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>دسته بندی</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="float:right;">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt style="float:right;">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.FullTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index">برگشت به لیست</a>
</div>
