@model IEnumerable<Shop.Data.Item>

@{
    ViewData["Title"] = "صفحه اصلی";
}
<p></p>
<hr />
<form asp-controller="Home" asp-action="Index">
        <div class="row">
            <div class="col-lg-2 col-md-2" style="float:right;">عنوان محصول:</div>
            <div class="col-lg-2 col-md-2" style="float:right;"><input class="text-info" type="text" name="searchString" /></div>
            <div class="col-lg-2 col-md-2"  style="float:right;">دسته محصول:</div>
            <div class="col-lg-2 col-md-2" style="float:right;">
                <select name="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                    <option disabled selected>---انتخاب کنید---</option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4" style="float:right;"><input class="btn btn-info" type="submit" value="جستجو" /></div>
        </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.FullTitle)
                </td>
                <td>
                    <a asp-controller="Purchases" asp-action="Create" asp-route-itemId="@item.Id">خرید</a>
                </td>
            </tr>
        }
    </tbody>
</table>